# PL EOSC
SOLR_URL: http://149.156.182.2:8983/solr/
COLLECTIONS_PREFIX: pl_
EOSC_COMMONS_URL: https://s3.cloud.cyfronet.pl/eosc-pl-common/pr-eosc-pl/
EOSC_COMMONS_ENV: beta

OIDC_CLIENT_ID: <OIDC_CLIENT_ID>
OIDC_CLIENT_SECRET: <OIDC_CLIENT_SECRET>
OIDC_HOST: https://aai-demo.eosc-portal.eu
SECRET_KEY: <SECRET_KEY>
BACKEND_BASE_URL: http://localhost:8000
UI_BASE_URL: http://localhost:4200
LOG_LEVEL: INFO
RECOMMENDER_ENDPOINT: <RECOMMENDATIONS_ENDPOINT>
OIDC_AAI_NEW_API: false

# iSHARE Participant Registry / AAI IDP discovery
ISHARE_CLIENT_ID=did:ishare:EU.PL.NTRPL-SAGEPORTAL
ISHARE_PRIVATE_KEY_PATH=<ABSOLUTE_PATH_TO_PRIVATE_KEY_PEM>
ISHARE_CERTIFICATE_CHAIN_PATH=<ABSOLUTE_PATH_TO_CERTIFICATE_CHAIN_PEM>
ISHARE_PR_PARTICIPANT_REGISTRY_ID=did:ishare:EU.NL.NTRNL-TESTPIRSAT1
ISHARE_PR_BASE_URL=https://isharesat-mw.pir.test.ishareworks.nl/
ISHARE_PR_VERSION=v2.1.1
ISHARE_CONNECTOR_DATASPACE_ID=EU.DSP.SAGE
ISHARE_CONNECTOR_TAG=sage-data-connector
ISHARE_IDP_ROLE_VALUE=ServiceProvider
ISHARE_ASSOCIATED_IDP_IDENTIFIER=associated-idp
ISHARE_AUTHORIZE_SCOPE=openid iSHARE
ISHARE_AUTHORIZE_ACR_VALUES=urn:http://eidas.europa.eu/LoA/NotNotified/low
ISHARE_CONNECTOR_CAPABILITY_URL_OVERRIDES={}
ISHARE_IDP_CAPABILITY_URL_OVERRIDES={}
ISHARE_IDP_AUTHORIZE_URL_OVERRIDES={}
ISHARE_IDP_TOKEN_URL_OVERRIDES={}

# DEFAULT SETUP FOR DOCKER SERVICE
STOMP_HOST: 127.0.0.1
STOMP_PORT: 61613
STOMP_LOGIN: guest
STOMP_PASS: guest
STOMP_USER_ACTIONS_TOPIC: /topic/user_actions
STOMP_CLIENT_NAME: dev-client
